.counter_box {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.allStuds_counts .counter {
  padding: 10px 20px;
}

.counter {
  background: #fff;
  padding: 10px 15px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #aaaaaa;
}

.counter.student {
  --bg: #c8fac8;
  --clr: #008000;
}

.counter.teachers {
  --bg: #fdd5fd;
  --clr: #800080;
}

.counter.parents {
  --bg: #ffeac2;
  --clr: #c27f01;
}

.counter.classes {
  --bg: rgb(253, 219, 219);
  --clr: red;
}

.counter.std {
  --bg: #ffe6e6;
  --clr: #a87676;
}

.counter.grps {
  --bg: #3d008d30;
  --clr: #3d008d;
}

.counter_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--bg);
  color: var(--clr);
  font-size: 30px;
}

.counter_details {
  font-size: 20px;
  font-weight: 600;
}

.counter_name {
  color: #797878;
  text-transform: capitalize;
}

.counter_count {
  text-align: center;
}

.chart_containers {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  justify-content: space-between;
  margin-top: 10px;
  overflow-x: scroll;
}

.earning,
.expense {
  flex-basis: 50%;
}

.chart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  min-height: 200px;
  max-height: 400px;
  max-width: 100%;
}

canvas {
  max-height: 350px !important;
}

.chart_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.options {
  color: #646464;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chart_cetgory,
.category {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.category {
  justify-content: center;
  gap: 10px;
}

.cat-1 {
  --bg: red;
}

.cat-2 {
  --bg: blue;
}

.color {
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  background: var(--bg);
  border-radius: 50%;
  box-shadow: 0px 0px 5px #646464;
}

.chart_cetgory select {
  padding: 10px 15px;
  background: transparent;
  outline: none;
  border: none;
}

.options div {
  cursor: pointer;
}

.board {
  width: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  min-width: 300px;
  overflow-x: auto;
}

.board_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.input {
  width: 200px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #797878;
}

.board_body {
  list-style: none;
}

.notice {
  padding: 10px;
  margin-top: 5px;
  border-bottom: 2px solid #d3d3d3;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.notice_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.notice:nth-child(even) {
  --title: #800080;
}

.notice:nth-child(odd) {
  --title: #000480;
}

.notice:first-child {
  --title: #80001a;
}

.notice:last-child {
  --title: #00803a;
}

.notice_title {
  padding: 5px 10px;
  background: var(--title);
  color: #fff;
  border-radius: 20px;
}

.timeAgo,
.postedBy,
.notice_dateTime {
  font-weight: 600;
  font-size: 14px;
  color: #4f4f4f;
}

.foot {
  margin-top: 5px;
}
