ul {
  list-style: none;
}

.user_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: lightcoral;
  border-radius: 50%;
  width: 39px;
  min-width: 39px;
  max-width: 39px;
  height: 39px;
  min-height: 39px;
  max-height: 39px;
}

.user_profile img {
  max-width: 100%;
  max-height: 100%;
}

.list:first-child .user_profile {
  background: lightgreen;
}
.list:nth-child(odd) .user_profile {
  background: lightcoral;
}

.list:nth-child(even) .user_profile {
  background: lightseagreen;
}

.list:nth-child(odd) .count {
  --bg-count: lightcoral;
}

.list:nth-child(even) .count {
  --bg-count: lightseagreen;
}

.message_box {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 5px;
  box-shadow: 0px 0px 5px #d1d1d1;
  max-height: 520px !important;
  overflow-y: scroll;
  position: relative;
  width: calc(100% - 10px);
  background: #fff;
  border-radius: 5px;
}

.inner_message_box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.chat_contact {
  width: 250px;
  border-right: 2px solid #d1d1d1;
}

.contact_top {
  display: flex;
  align-items: center;
  position: relative;
}

.contact_top .search {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  position: relative;
}

.contact_top .search input {
  width: calc(100% - 5px);
  padding: 10px;
  background: #fff;
  border: none;
  box-shadow: 0px 0px 5px #d1d1d1;
  border-radius: 5px;
}

.search_icon {
  position: absolute;
  right: 15px;
  color: #606060;
}

.contacts {
  position: relative;
  display: block;
  width: 100%;
  max-height: 475px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 5px;
}

.convo_box {
  height: 405px;
  overflow-y: scroll;
}

.convo_box::-webkit-scrollbar-track {
  background: #f4b4b4;
}

.convo_box::-webkit-scrollbar-thumb {
  background: #7bd7b2;
}

.list {
  width: 100%;
  position: relative;
}

.list .blocked_txt {
  padding: 2px 5px;
  border-radius: 5px;
  background: rgb(254, 162, 162);
  color: rgb(15, 15, 15);
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-transform: capitalize;
  font-weight: 600;
  cursor: not-allowed;
}

.list .inner_contact {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  padding: 10px;
}

.contacts.user_name,
.time_count {
  display: flex;
  flex-direction: column;
}

.contacts.user_name {
  width: 140px;
  text-transform: capitalize;
}

.time_count {
  position: absolute;
  right: 5px;
  display: flex;
}

.time_count .count {
  font-size: 10px;
  background: var(--bg-count);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  color: #fff;
  align-self: flex-end;
}

.proffesion {
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 600;
}

.uname {
  font-weight: 600;
  color: #484848;
  font-size: 14px;
}

.list:hover {
  background: #f5f5f5;
  transition: all 0.3s;
  cursor: pointer;
}

.message_top {
  padding: 10px;
  border-bottom: 2px solid #d0d0d0;
  box-shadow: 0px 3px 5px #d2d2d2;
}

.chat_message {
  max-width: calc(100% - 235px);
  width: calc(100% - 235px);
  position: relative;
  z-index: 100;
}

.message_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.message_top_prof .contacts.user_name h3 {
  font-size: 115%;
}

.message_top_prof .contacts.user_name .proffesion {
  font-size: 12px;
}

.message_top_prof {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.message_top_prof .user_profile {
  width: 45px;
  min-width: 45px;
  max-width: 45px;
  min-height: 45px;
  max-height: 45px;
  height: 45px;
}

.message_top_prof .user_profile img {
  width: 90%;
  height: 90%;
}

.msg_opt {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.msg_opt .btn-text {
  position: absolute;
}

.list .blocked {
  opacity: 0.5;
  cursor: not-allowed;
}

ul.convo_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.recievedMsg {
  align-self: flex-start;
  background: rgb(254, 232, 232);
}

.sentMsg {
  align-self: flex-end;
  background: rgb(225, 255, 245);
}

.msg {
  border-radius: 10px;
  padding: 10px;
  max-width: 60%;
}

.info {
  background: rgb(206, 235, 255);
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  max-width: 150px;
  min-width: 20px;
}

.msg {
  position: relative;
}

.msg .time {
  position: absolute;
}

.recievedMsg .time {
  right: -55px;
  bottom: -17px;
  bottom: 0;
}

.sentMsg .time {
  left: -55px;
  bottom: -17px;
  bottom: 0;
}

.message_send_box {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.input_box {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.msg_opts {
  display: flex;
  align-items: center;
  gap: 15px;
}

button.inp-icon {
  right: 0px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #4747ff;
  color: #fff;
  min-width: 50px;
  cursor: pointer;
  height: 100%;
  font-size: 16px;
}

button.inp-icon:hover {
  background: #0000ff;
  transition: all 0.4s;
}

.msg_opts button {
  font-size: 17px;
  background: transparent;
  border: none;
  color: #6b6b6b;
  cursor: pointer;
}

.btn-text {
  margin-top: 100px;
  font-size: 14px;
  padding: 10px;
  background: #484848;
  color: #fff;
  border-radius: 5px;
  display: none;
}

@keyframes move_up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.msg_opt:hover .btn-text {
  display: block;
  animation: move_up 0.3s ease-in forwards;
  z-index: 100;
}

.message_top .options {
  margin-right: 20px;
}
