ul {
  list-style: none;
}

.inner_list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
}

.inner_list:hover {
  background: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.contact_list_ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 220px;
}

.message_left {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  background: #f4f4f4;
  position: relative;
  height: 100%;
  position: fixed;
  max-height: 380px !important;
  overflow-y: scroll;
}

.message_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
}

.teacher {
  background: rgb(214, 170, 255);
}

.tag.student {
  background: rgb(252, 196, 182);
}

.roll {
  font-size: 14px;
  font-weight: 600;
  color: #616161;
}

.StudName {
  font-size: 12px;
  font-weight: 600;
  color: #616161;
}

.user_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: lightcoral;
  border-radius: 50%;
  width: 39px;
  min-width: 39px;
  max-width: 39px;
  height: 39px;
  min-height: 39px;
  max-height: 39px;
}

.user_profile img {
  max-width: 100%;
  max-height: 100%;
}

.list:first-child .user_profile {
  background: lightgreen;
}
.list:nth-child(odd) .user_profile {
  background: lightcoral;
}

.list:nth-child(even) .user_profile {
  background: lightseagreen;
}

.message_box {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 5px;
  box-shadow: 0px 0px 5px #d1d1d1;
  max-height: 390px !important;
  overflow-y: scroll;
}

.conversation_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px 10px;
  background: #f0f0f0;
  box-shadow: 0px 3px 3px #d1d1d1;
}

.message_conversation {
  width: calc(100% - 220px);
  position: relative;
  left: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.conv_prof {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.conv_prof .roll,
.conv_prof .StudName {
  font-size: 14px;
  color: #333;
}

.conversation_top .msgOptList {
  font-size: 16px;
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation_top .msgOptList:hover .text_hover {
  display: flex;
  animation: move_up 0.3s ease-in forwards;
}

@keyframes move_up {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.text_hover {
  position: absolute;
  top: 50px;
  padding: 10px;
  background: #333;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  transform: translateY(30px);
  opacity: 0;
  font-size: 14px;
  display: none;
}

.convo_box {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
}

.convo_box .recieve {
  align-self: flex-start;
  background: rgb(223, 247, 255);
}

.convo_box .sent {
  align-self: flex-end;
  background: #ffd4d4;
}

.convo_box .recieve,
.convo_box .sent {
  padding: 10px;
  border-radius: 15px;
  position: relative;
  max-width: 70%;
}

.inner_message_li .time {
  position: absolute;
  margin-top: 10px;
}

.convo_box .recieve .inner_message_li .time {
  right: 0;
}

.convo_box .sent .inner_message_li .time {
  left: 0;
}

.info {
  padding: 5px;
  border-radius: 5px;
  background: #c3ffc3;
  min-width: 50px;
  text-align: center;
}
