.table_box {
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ddd;
}

.fetch {
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  background-color: orange;
  color: #fff;
  cursor: pointer;
}

.fetch:hover {
  transition: all 0.2s;
  background-color: rgb(193, 126, 0);
}

.container div.options {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.table select {
  width: 150px;
}

.table th {
  padding: 10px;
  background: #333;
  color: #fff;
}

.promotetable {
  margin-top: 20px;
}

.promotetable td {
  padding: 10px;
  text-align: center;
}

.p {
  text-transform: uppercase;
  color: red;
}

.tag {
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
  text-transform: capitalize;
}

.tag.paid {
  background: rgb(85, 159, 85);
  color: #fff;
}

.tag.unpaid {
  background: #f78f8f;
  color: #fff;
}

.tag.due {
  background: #f7d68f;
  color: #4e4e4e;
}

.edit {
  cursor: pointer;
  color: #0000ff;
  margin-left: 5px;
}

.sub,
.std {
  text-align: center;
}

.save {
  align-self: right;
  padding: 10px 15px;
  border-radius: 20px;
  background: rgb(100, 174, 100);
  border: none;
  color: #ffffff;
}

.save:hover {
  background: rgb(40, 113, 40);
  cursor: pointer;
}

.select_bar {
  margin-top: 10px;
}

.count_box {
  padding: 5px;
  border-radius: 5px;
  background: orange;
  color: #fff;
}

.promote {
  --bg-clr: rgb(175, 228, 175);
}

.depromote {
  --bg-clr: rgb(251, 166, 166);
}
.fail {
  --bg-clr: rgb(251, 221, 166);
}

.btn {
  padding: 10px 17px;
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
  background: var(--bg-clr);
  color: #3a3a3a;
  cursor: pointer;
}

.btn:hover {
  scale: 1.05;
}
