.main_section {
  position: absolute;
  top: 75px;
  left: 275px;
  width: calc(100vw - 275px);
  min-height: calc(100vh - 75px);
  padding: 10px;
  transition: all 0.3s;
}

.main_section.active {
  left: 75px;
  width: calc(100vw - 75px);
}

.dashborad_name {
  text-transform: capitalize;
  color: rgb(63, 63, 63);
}

.path {
  display: flex;
  text-transform: capitalize;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.pathClick {
  cursor: pointer;
}

.pathClick:last-child {
  color: blue;
}

.main_section .chart_containers {
  flex-wrap: nowrap;
}

.main_section .earning {
  flex-basis: 50%;
}

.main_section .expense {
  flex-basis: 50%;
}

@media screen and (max-width: 940px) {
  .main_section.active .chart_containers {
    flex-wrap: wrap;
  }

  .main_section .chart_containers {
    flex-wrap: wrap;
  }
  .main_section .earning,
  .main_section .expense {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 585px) {
  .main_section.active,
  .main_section {
    left: 0;
    width: calc(100vw);
  }

  .sidebar.active .sidebar,
  .sidebar.active {
    width: 0;
    overflow: hidden;
  }

  .sidebar {
    width: 270px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 425px) {
  .counter {
    width: 100%;
  }
}
