.main_section {
  position: absolute;
  top: 75px;
  left: 275px;
  width: calc(100vw - 275px);
  min-height: calc(100vh - 75px);
  padding: 10px;
}

.dashborad_name {
  text-transform: capitalize;
  color: rgb(63, 63, 63);
}

.path {
  display: flex;
  text-transform: capitalize;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.pathClick {
  cursor: pointer;
}

.pathClick:last-child {
  color: blue;
}
